
legend {
    color: black;
}
.latent_knowhow .form-type-checkbox {
    height: 30px;
    padding-left: 40px;
}
.validated_knowhow{
    background-repeat: no-repeat;
}

.validated_knowhow{
    background-image: none;
}

.validated_knowhow.type-1{
background-image: url("../img/checked-type1.png");
}

.validated_knowhow.type-2{
background-image: url("../img/checked-type2.png");
}

.validated_knowhow.type-3{
background-image: url("../img/checked-type3.png");
}

.validated_knowhow.type-4{
background-image: url("../img/checked-type4.png");
}

.validated_knowhow.type-5{
background-image: url("../img/checked-type5.png");
}






